<mat-card class="example-card">
    <mat-card-header>
      <img mat-card-avatar src="" alt="">
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img class="max-h-[400px] object-cover" mat-card-image src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>

    <mat-card-actions class="flex justify-between">
     <div>
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>share</mat-icon>
      </button>
      <button (click)="handlOpenEditRecipeForm()" mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>delete</mat-icon>
      </button>
     </div>
    </mat-card-actions>
  </mat-card>
  
